.OC-Wrapper-Contaier {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .OC-Headers-Container{
        min-height: 4px;
        background-color: rgb(197, 242, 242);
        display: flex;

        .OC-Header-Cell {
            border-right: 1px solid rgb(40, 40, 40);
        }
    }

    .OC-ScrollBody-Container {
        flex: 1;
        background-color: aliceblue;
        overflow: hidden;
        position: relative;

        .OC-ScrollBody-Block {
            position: absolute;
            border-top: 2px solid greenyellow;
            
            .OC-ScrollBody-Row {
                border-top: 1px dashed rgba(40, 40, 40, 0.3);
    
                .OC-ScrollBody-Cell {
                    border-right: 1px solid rgb(40, 40, 40);
                }
            }
        }

    }
}