.OC-Wrapper-Container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .OC-Headers-Container {
        min-height: 4px;
        background-color: rgb(197, 242, 242);
        display: flex;

        .OC-Header-Cell {
            border-right: 1px solid rgb(40, 40, 40);
        }
    }

    .OC-Body {
        display: flex;
        flex-direction: row;
        flex: 1;
        user-select: none;

        .OC-ScrollBody-Container {
            flex: 1;
            background-color: aliceblue;
            overflow: hidden;
            position: relative;

            .OC-ScrollBody-Block {
                position: absolute;

                .OC-ScrollBody-Block-Head {
                    height: 0px;

                    th {
                        height: 0px;
                    }
                }

                .OC-ScrollBody-Row {
                    display: flex;
                    border-top: 1px dashed rgba(40, 40, 40, 0.3);

                    .OC-ScrollBody-Cell {
                        border-right: 1px solid rgb(40, 40, 40);
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .OC-ScrollBar {
        display: flex;
        background-color: beige;

        .OC-ScrollBar-Container {
            flex: 1;
            position: relative;

            .OC-ScrollBar-Bar {
                position: absolute;
                background-color: black;
                border-radius: 2em;
            }
        }

        &.OC-ScrollBar-Vertical-Container {
            flex-direction: column;
            width: 10px;
            height: 100%;

            .OC-ScrollBar-Bar {
                height: 50px;
                width: 100%;
            }

            .OC-ScrollBar-ButtonStart,
            .OC-ScrollBar-ButtonEnd {
                height: 20px;
                width: 100%;
            }
        }

        &.OC-ScrollBar-Horizontal-Container {
            flex-direction: row;
            width: 100%;
            height: 10px;

            .OC-ScrollBar-Bar {
                width: 50px;
                height: 100%;
            }

            .OC-ScrollBar-ButtonStart,
            .OC-ScrollBar-ButtonEnd {
                width: 20px;
                height: 100%;
            }
        }
    }
}
