.OC-Wrapper-Contaier {
    display: flex;
    flex-direction: column;

    .OC-Headers-Container{
        min-height: 4px;
        background-color: rgb(197, 242, 242);
        display: flex;

        .OC-Header-Cell {
            border-right: 1px solid rgb(40, 40, 40);
        }
    }

    .OC-ScrollBody-Container {
        flex: 1;
        background-color: aliceblue;
        overflow: hidden;

        .OC-ScrollBody-Row {
            display: flex;

            .OC-ScrollBody-Cell {
                border-right: 1px solid rgb(40, 40, 40);
            }
        }
    }
}